{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main/bases/css/base.css" %}">
    
    {% if user.is_authenticated %}
        <link rel="stylesheet" href="{% static "main/bases/css/sidebar.css" %}">
    {% endif %}
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% include "main/bases/sidebar.html" %}
    {% endif %}
    {% comment %} {% include "main/bases/sidebar.html" %} {% endcomment %}
    <div class="main">
        {% block content %}{% endblock content %}
    </div>
    <script src="{% static "main/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>