{% extends "main/bases/base.html" %}
{% load static %}
{% block title %}{{pacient.last_name}} {{pacient.first_name|slice:"1"}}. {{pacient.middle_name|slice:"1"}}.{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'pacients/pacient_detail.css' %}">
{% endblock head %}

{% block content %}

<div class="pacient-info-place">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="avatar-place text-center">
                {% if pacient.avatar %}
                    <img src="{{pacient.avatar.url}}" alt="">
                {% else %}
                    <img src="{% static 'main/auth/img/default_avatar.webp' %}" alt="">
                {% endif %}
                
            </div>
            <div class="download-docs-place">
                <h6 style="{% if not pacient.personal_data_doc  %}color: red; {% endif %}">Согласие на обработку ПД</h4>
                <div class="peronal-data-doc-place">
                    {% if not pacient.personal_data_doc  %}
                        <div class="peronal-data-doc">
                            <a href="{{personal_doc_url}}" download>Скачать</a>
                        </div>
                        <div class="peronal-data-doc">
                            <button onclick="document.querySelector('.upload-personal-data-doc').classList.remove('deactive-div')">Загрузить</button>
                        </div>
                    {% else %}
                        <div class="peronal-data-doc">
                            <a href="{{pacient.personal_data_doc.url}}">Смотреть</a>
                        </div>
                    {% endif %}
                </div>
                <h6 style="{% if not pacient.contract_doc  %}color: red; {% endif %}">Договор на оказание медицинских услуг</h4>
                <div class="peronal-data-doc-place">
                        {% if not pacient.contract_doc  %}
                            <div class="peronal-data-doc">
                                <a href="{{contract_doc_url}}" download>Скачать</a>
                            </div>
                            <div class="peronal-data-doc">
                                <button onclick="document.querySelector('.upload-contract-doc').classList.remove('deactive-div')">Загрузить</button>
                            </div>
                        {% else %}
                            <div class="peronal-data-doc">
                                <a href="{{pacient.contract_doc.url}}">Смотреть</a>
                            </div>
                        {% endif %}
                </div>
            </div>
            <hr>
            <div class="functions-place">
                <div class="func-btn-place">
                    <a href="{% url 'create_td_event' pacient.id %}" class="func-link">
                        Создать запись на прием
                    </a>
                </div>
                <div class="func-btn-place">
                    <a href="{% url 'create_hospitalization' pacient.id %}" class="func-link">
                        Госпитализация
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="name-place">
                <h2>{{pacient.last_name}} {{pacient.first_name}} {{pacient.middle_name}}</h2>
                <h5>{{pacient.birthday}}</h3>
                <p>Номер медицинской карты: {{pacient.medical_record_number}} ({{pacient.date_created_medical_record}})</p>
                <p>{{pacient.phone_number}} {% if pacient.email %} {{pacient.email}} {% endif %}</p>

            </div>
            <div class="therapeutic-and-diagnostic-events">
                <h5>Лечебно-диагностические  мероприятия</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">КОД</th>
                            <th scope="col">Врач</th>
                            <th scope="col">Тип мероприятия</th>
                            <th scope="col">Название</th>
                            <th scope="col">Диагноз</th>
                            <th scope="col">Дата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in td_events%}
                            <tr>
                                <td scope="row"><a href="{% url 'detail_td_event' pacient.id event.id %}">{{event.id}}</a></th>
                                <td><a href="{% url 'detail_td_event' pacient.id event.id %}">{{event.doctor.last_name}}</a></th>
                                <td><a href="{% url 'detail_td_event' pacient.id event.id %}">{{event.type}}</a></td>
                                <td><a href="{% url 'detail_td_event' pacient.id event.id %}">{{event.event_name}}</a></td>
                                <td><a href="{% url 'detail_td_event' pacient.id event.id %}">{{event.diagnos}}</a></td>
                                <td><a href="{% url 'detail_td_event' pacient.id event.id %}">{{event.started_date}}</a></td>                               
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="qr-place">
        {% for line in qr_matrix %}
        <div class="qr-line">
            {% for point in line %}
            {% if point %}
            <span class="qr-point-t"></span>
            {% else %}
            <span class="qr-point-f"></span>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>
    <div class="upload-personal-data-doc  deactive-div">
        <button class="close-btn" onclick="document.querySelector('.upload-personal-data-doc').classList.add('deactive-div')">×</button>
        <form action="{% url 'upload_personal_data_doc' pacient.id %}" method="post" enctype="multipart/form-data" id="upload-personal-data-form">
            {% csrf_token %}
            <label for="personal-data-doc"><b>Загрузить ПД</b></label>
            <input type="file" name="personal-data-doc" id="personal-data-doc" onchange="document.querySelector('#upload-personal-data-form').submit()">
        </form>
    </div>
    <div class="upload-contract-doc  deactive-div">
        <button class="close-btn" onclick="document.querySelector('.upload-contract-doc').classList.add('deactive-div')">×</button>
        <form action="{% url 'upload_contract_doc' pacient.id %}" method="post" enctype="multipart/form-data" id="upload-contract-form">
            {% csrf_token %}
            <label for="personal-data-doc"><b>Загрузить договор</b></label>
            <input type="file" name="contract-doc" id="personal-data-doc" onchange="document.querySelector('#upload-contract-form').submit()">
        </form>
    </div>
</div>

{% endblock content %}