@charset "utf-8";

.form-place {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.form-place form {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-place form > div {
    margin-bottom: 10px;
}